<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  {% block style_css %}{% endblock %}
</head>
<title> Listado de productos con su saldo </title>
<body><div id="banner-wrapper"><div id="banner" class="container"></div></div>
<h1> Listado de productos con su saldo </h1>
<hr> </hr>
<li> Producto | Identificador | Saldo </li>
  <ol> 
        {% for c in productos %}
        <li>{{ c.name }} -- {{ c.identificador }} -- {{ c.saldo }}</li>
        {% endfor %}
   </ol>
<a href="/iniciocliente/"> Volver </a>
</body>
<hr></hr>
</html>