<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
        {% block style_css %}{% endblock %}
    </head>
    <title> Gestion facturas </title>
    <body>
        <div id="banner-wrapper">
            <div id="banner" class="container"></div>
        </div>
        <h1> Gestion facturas </h1>
        <hr> </hr>
        <h3> <li> Facturar cliente en particular </li> </h3>
        <form action="/facturarcliente/" method="post">
            {% csrf_token %}
            <p> <div><label>Cedula/rif </label><input type="number" name="idcliente"></div></p>
            <p> <div><label>Mes </label>
                <select name="mes" class="combo" >
                <option value="1"> Enero </option>
                <option value="2"> Febrero </option>
                <option value="3"> Marzo </option>
                <option value="4"> Abril </option>
                <option value="5"> Mayo </option>
                <option value="6"> Junio </option>
                <option value="7"> Julio </option>
                <option value="8"> Agosto </option>
                <option value="9"> Septiembre</option>
                <option value="10"> Octubre </option>
                <option value="11"> Noviembre </option>
                <option value="12"> Diciembre </option>
                </select> </div></p>
            <p> <div><label>Anio </label><input type="number" name="anio"></div> </p>
            <p> <div><label>Tipo de facturacion</label>
                    <select name="tipofact" class="combo">
                    <option value="post"> Productos postpago </option>
                    <option value="pre"> Productos prepago </option>
                    </select>
                </div> </p>
            <p> <input type="submit" value="Facturar" class="button"></p>
        </form>
        <h3> <li> Facturar todos los clientes para un periodo particular </li> </h3>
        <form action="/facturartodo/" method="post">
            {% csrf_token %}
            <p> <div><label>Mes </label>
                    <select name="mes" class="combo">
                        <option value="1"> Enero </option>
                        <option value="2"> Febrero </option>
                        <option value="3"> Marzo </option>
                        <option value="4"> Abril </option>
                        <option value="5"> Mayo </option>
                        <option value="6"> Junio </option>
                        <option value="7"> Julio </option>
                        <option value="8"> Agosto </option>
                        <option value="9"> Septiembre</option>
                        <option value="10"> Octubre </option>
                        <option value="11"> Noviembre </option>
                        <option value="12"> Diciembre </option>
                    </select> 
               </div></p>
            <p> <div><label>Anio </label><input type="number" name="anio"> </p>
            <p> <div><label>Tipo de facturacion</label>
                    <select name="tipofact" class="combo">
                        <option value="post"> Productos postpago </option>
                        <option value="pre"> Productos prepago </option>
                    </select>
                </div></p>
            <p> <input type="submit" value="Facturar" class="button"></p>
        </form>

        </br>

<!--<h3> <li> Modificacion de cliente </li> </h3>
<p> Introduzca el ID del cliente que desea modificar, seleccione el campo a modificar 
    e introduzca el nuevo valor. </p>
<form action="/modificacioncliente/" method="post">
{% csrf_token %}
    <p> Identificador (cedula/rif) <input type="text" name="identificador"> </p>
    <p> Campo a modificar 
	<select name="campo_modificar">
	  <option value="direccion"> Direccion</option>
	  <option value="nombre"> Nombre </option>
	</select>
      </p>
    <p> Nuevo valor <input type="text" name="modificado"> </p>
    <p> <input type="submit" value="Modificar"></p>
</form>

<h3> <li> <a href="/listarclientes/"> Listar todos los clientes </a> </li> <h3>-->


    </body>
<hr></hr>