<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  {% block style_css %}{% endblock %}
</head>
<title> Listado de planes </title>

<body><div id="banner-wrapper"><div id="banner" class="container"></div></div>

<h1> Listado de planes </h1>

<hr> </hr>
<h3> Planes de la companiia en el sistema </h3>
  <ol>
        <li>{{ plan }}</li>
	{% for inc in incluidos %}
	  <li> {{ inc }} </li>
        {% endfor %}
   </ol>

<a href="/inicioadmin/"> Volver </a>




</body>
<hr></hr>




</html>