<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  {% block style_css %}{% endblock %}
</head>
<title> Inicio cliente </title>

<body><div id="banner-wrapper"><div id="banner" class="container"></div></div>

<h1> Inicio cliente </h1>

<hr> </hr>
<p> Bienvenido </p>

<h4> Acciones posibles </h4>
<ol>
  <li> Consultar saldo de productos  </li>
  <form action="/consultarsaldo/" method="post">
    {% csrf_token %}
    <p> Cedulra/rif<input type="number" name="cedrif"></p>
    <p> <input type="submit" class="button" value="Consultar"></p>
  </form>

  <li> Consultar ultima/s factura/s  </li>
  <form action="/consultarultfactura/" method="post">
    {% csrf_token %}
    <p> Cedula/rif<input type="number" name="cedrif"></p>
    <p> <input type="submit" class="button" value="Consultar"></p>
  </form>
</ol>


<a href="/"> Volver </a>




</body>
<hr></hr>




</html>