<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  {% block style_css %}{% endblock %}
</head>
<title> Insertar Planes </title>

<body><div id="banner-wrapper"><div id="banner" class="container"></div></div>

<h1> Insertar Planes </h1>

<hr> </hr>
<h3> <li> Insertar plan</li> </h3>
<form action="/insercionplanes/" method="post">
{% csrf_token %}
    <p><div> <label> Nombre </label><input type="text" name="nombre"></p>
    <p><div> <label> Descripcion </label><input type="text" name="descripcion"></p>
    <p><div> <label> Tipo de plan  </label>
	<select class="combo" name="tipo_plan">
	  <option value="0"> Postpago con renta</option>
	  <option value="1"> Postpago sin renta </option>
	  <option value="2"> Prepago </option>
	</select> </div> </p>
    <p> <div> <label>Renta </label><input type="number" name="renta"></div></p>
    <h4> Que incluye el plan: </h2>
    <p><div> <label> --Lo que se incluye</label> <input type="text" name="tipo"> </div> </p>
    <p><div> <label>  --Cantidad que se incluye </label><input type="number" name="cantidad"> </p>
    </br>
    <p><div> <label>  --Lo que se incluye </label><input type="text" name="tipo2"> </p>
    <p><div> <label>  --Cantidad que se incluye </label><input type="number" name="cantidad2"> </p>
    </br>
    <p><div> <label>  --Lo que se incluye </label><input type="text" name="tipo3"> </p>
    <p><div> <label>  --Cantidad que se incluye </label><input type="number" name="cantidad3"> </p>

    <p><div> <label>  --Lo que se incluye </label> <input type="text" name="tipo4"> </p>
    <p><div> <label>  --Cantidad que se incluye </label><input type="number" name="cantidad4"> </p>

    <p><div> <label>  --Lo que se incluye </label><input type="text" name="tipo5"> </p>
    <p><div> <label>  --Cantidad que se incluye </label><input type="number" name="cantidad5"> </p>

    <p><div> <label>  --Lo que se incluye </label><input type="text" name="tipo6"> </p>
    <p><div> <label>  --Cantidad que se incluye </label><input type="number" name="cantidad6"> </p>
    <p> <input type="submit" class="button" value="Insertar"></p>
</form>

</br>



</body>
