<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  {% block style_css %}{% endblock %}
</head>
<title> Insertar Consumo </title>

<body><div id="banner-wrapper"><div id="banner" class="container"></div></div>

<h1> Insertar Consumo </h1>

<hr> </hr>
<h3> <li> Insertar Consumo</li> </h3>
<form action="/inserciondeconsumo/" method="post">
{% csrf_token %}
    <p> ID del producto <input type="number" name="idproducto"></p>
    <p> Mes 
      <select class="combo" name="mes">
	<option value="1"> Enero </option>
	<option value="2"> Febrero </option>
	<option value="3"> Marzo </option>
	<option value="4"> Abril </option>
	<option value="5"> Mayo </option>
	<option value="6"> Junio </option>
	<option value="7"> Julio </option>
	<option value="8"> Agosto </option>
	<option value="9"> Septiembre</option>
	<option value="10"> Octubre </option>
	<option value="11"> Noviembre </option>
	<option value="12"> Diciembre </option>
      </select> </p>
    <p>  <div><label>Anio</label>  <input type="number" name="anio"> </div></p>
    <p>  <div><label>Dia</label>   <input type="number" name="dia"></div></p>
    <p>  <div><label>Hora</label>  <input type="text" name="hora"> </div></p>
    <p>  <div><label>Costo</label> <input type="number" name="costo"> </div></p>
    <p>  <div><label>Tipo</label>  <input type="text" name="tipo"> </div></p>
    <p> <input type="submit" class="button" value="Insertar"></p>
</form>

</br>



</body>

  