<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  {% block style_css %}{% endblock %}
</head>
<title> Modificacion de cliente fallida </title>

<body><div id="banner-wrapper"><div id="banner" class="container"></div></div>

<h1> Modificacion de cliente fallida </h1>

<hr> </hr>
<p> No se ha podido completar la modificacion del cliente.
    Revise que ha introducido todos los campos, y cerciorese de
    que este modificando un cliente existente</p>
<a href="/inicioadmin/"> Volver </a>




</body>
<hr></hr>




</html>