<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
        {% block style_css %}{% endblock %}
    </head>
    <title> Creacion de servicio falla </title>
    <body>
        <div id="banner-wrapper">
            <div id="banner" class="container"></div>
        </div>
        <h1> Creacion de servicio falla </h1>
        <hr> </hr>
        <p> La creacion del servicio ha fallado, revise lo siguiente:
            <ul>
                S<li> Que no hayan campos repetidos al incluirlos en el servicio </li>
            </ul>
        </p>
        <a href="/insertarservicios/"> Volver </a>
    </body>
    <hr></hr>
</html>