<html>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
        {% block style_css %}{% endblock %}
    </head>
    <title> Exito Factura </title>
    <body><div id="banner-wrapper"><div id="banner" class="container"></div></div>
        <h1> Exito Factura </h1>
        <hr> </hr>
        <p> Se ha agregado exitosamente al sistema las siguiente facturas:
            {% for factura in facts %}
            <li> Factura del mes: {{ factura.mes }} y anio {{ factura.anio }}: </li>
            <li> Cliente: {{ factura.cliente }} </li>
            <li> Monto total : {{ factura.monto }} </li>
            <br> </br>
            {% endfor %}
        </p>
        <a href="/inicioadmin/"> Volver </a>
    </body>
    <hr></hr>
</html>